@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* || UTILITY CLASSES */
.errmsg {
  color: firebrick;
}

/* || GENERAL STYLES */

body {
  font: 1.5rem "Nunito", sans-serif;
  min-height: 100vh;
  background-color: #000000;
  color: #fff;
}

input,
button {
  font: 1rem "Nunito", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  padding: 1rem;
}

section {
  width: min(100%, 500px);
}

a,
a:visited {
  color: whitesmoke;
}

a:hover,
a:focus {
  color: rgba(245, 245, 245, 0.9);
}

/* || LOGIN */

.login {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  width: 100%; /* Make the container take up the full width */
}

.login form {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  margin-top: 1rem;
  width: 100%;
  align-items: center;
}

.login button {
  padding: 0.3em;
  border-radius: 15px;
  width: 150px;
  margin-top: 10px;
}

.login form .input_box {
  width: 100%;
  margin-top: 15px;
  position: relative;
  display: flex; /* Add this line to use flexbox */
  justify-content: center;
  align-items: center;
}
.login form .input_box input {
  width: 350px;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 7px 7px;
  border-radius: 10px;
}

.login form .input_box label {
  position: absolute;
  font-size: 15px;
  pointer-events: none;
  transition: 0.2s;
  color: #000000;

  /* transform: translateY(50%); */
}

.login form .input_box input:focus + label,
.login form .input_box input:valid + label {
  /* top: -24px; */
  font-size: 18px;
  color: rgb(255, 255, 255);
  transform: translateY(-30px);
}

/* || PAGES */

.public {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
}

.welcome,
.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
}

.public main {
  flex-grow: 1;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

.users ul {
  list-style-type: none;
}

.logout_button {
  width: 5rem;
  height: 2rem;
}

.layout {
  width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  flex-direction: column;
}
 
.layout-wrapper {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto; /* Enable vertical scrolling when content overflows */
} 

.login2 {
  font-size: 1rem;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
